@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: theme('colors.garnet');
  --background-start-rgb: 214, 219, 220;
  --background-color: theme('colors.peach-yellow');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: theme('colors.atomic-tangerine');
    --background-start-rgb: theme('colors.garnet');
    --background-color: theme('colors.black');
  }
}

body {}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}